PORT=anyPort
JWT_ACCESS_SECRET=yourAccessKey
JWT_REFRESH_SECRET=yourRefreshKey
MONGO_URI=yourDatabaseURI
CLOUDINARY_CLOUD_NAME=yourCloudName
CLOUDINARY_API_KEY=yourApiKey
CLOUDINARY_API_SECRET=yourApiSecret
AI_SERVICE_URL=http://localhost:3000/register